_docs/n8n-register-participation.json
{
  "name": "Register Participation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "participation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "webhook-participation",
      "name": "Webhook",
      "webhookId": "participation"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del request\nconst body = $input.item.json.body;\nconst headers = $input.item.json.headers;\n\n// Obtener IP del cliente\nconst ip = headers['x-forwarded-for'] || headers['x-real-ip'] || 'unknown';\n\n// Generar hash de IP + fingerprint\nconst crypto = require('crypto');\nconst identityString = `${ip}|${body.fingerprint}|${body.campaign_slug}`;\nconst ipHash = crypto.createHash('sha256').update(identityString).digest('hex');\n\nreturn {\n  json: {\n    campaign_slug: body.campaign_slug,\n    barrio: body.barrio || null,\n    fingerprint: body.fingerprint,\n    ip_hash: ipHash,\n    user_agent_hash: headers['user-agent'] ? crypto.createHash('sha256').update(headers['user-agent']).digest('hex').substring(0, 32) : null,\n    timestamp: body.timestamp || new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "process-data",
      "name": "Process Data"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p3amiucxfm0jzoc",
        "table": "TABLA_ID_CAMPAIGNS",
        "returnAll": false,
        "limit": 1,
        "options": {
          "where": "(slug,eq,{{ $json.campaign_slug }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [680, 300],
      "id": "get-campaign",
      "name": "Get Campaign",
      "credentials": {
        "nocoDbApiToken": {
          "id": "t0BGosFerj8egJ4y",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "check-campaign-exists",
      "name": "Campaign Exists?"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p3amiucxfm0jzoc",
        "table": "TABLA_ID_PARTICIPATIONS",
        "returnAll": false,
        "limit": 1,
        "options": {
          "where": "(ip_hash,eq,{{ $('Process Data').item.json.ip_hash }})~and(campaign_id,eq,{{ $json.Id }})~and(timestamp,gt,{{ $now.minus(24, 'hours').toISO() }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [1120, 200],
      "id": "check-recent-participation",
      "name": "Check Recent Participation",
      "credentials": {
        "nocoDbApiToken": {
          "id": "t0BGosFerj8egJ4y",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200],
      "id": "is-new-participation",
      "name": "Is New?"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p3amiucxfm0jzoc",
        "table": "TABLA_ID_PARTICIPATIONS",
        "options": {},
        "dataFields": {
          "fields": [
            {
              "fieldName": "campaign_id",
              "fieldValue": "={{ $('Get Campaign').item.json.Id }}"
            },
            {
              "fieldName": "barrio",
              "fieldValue": "={{ $('Process Data').item.json.barrio }}"
            },
            {
              "fieldName": "ip_hash",
              "fieldValue": "={{ $('Process Data').item.json.ip_hash }}"
            },
            {
              "fieldName": "user_agent_hash",
              "fieldValue": "={{ $('Process Data').item.json.user_agent_hash }}"
            },
            {
              "fieldName": "fingerprint",
              "fieldValue": "={{ $('Process Data').item.json.fingerprint }}"
            },
            {
              "fieldName": "timestamp",
              "fieldValue": "={{ $('Process Data').item.json.timestamp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [1560, 100],
      "id": "insert-participation",
      "name": "Insert Participation",
      "credentials": {
        "nocoDbApiToken": {
          "id": "t0BGosFerj8egJ4y",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Participación registrada\", \"id\": $json.Id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 100],
      "id": "response-success",
      "name": "Response Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 429,
        "responseBody": "={{ { \"success\": false, \"error\": \"Ya has participado recientemente\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300],
      "id": "response-rate-limited",
      "name": "Response Rate Limited"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 404,
        "responseBody": "={{ { \"success\": false, \"error\": \"Campaña no encontrada\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400],
      "id": "response-not-found",
      "name": "Response Not Found"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Process Data", "type": "main", "index": 0 }]]
    },
    "Process Data": {
      "main": [[{ "node": "Get Campaign", "type": "main", "index": 0 }]]
    },
    "Get Campaign": {
      "main": [[{ "node": "Campaign Exists?", "type": "main", "index": 0 }]]
    },
    "Campaign Exists?": {
      "main": [
        [{ "node": "Check Recent Participation", "type": "main", "index": 0 }],
        [{ "node": "Response Not Found", "type": "main", "index": 0 }]
      ]
    },
    "Check Recent Participation": {
      "main": [[{ "node": "Is New?", "type": "main", "index": 0 }]]
    },
    "Is New?": {
      "main": [
        [{ "node": "Insert Participation", "type": "main", "index": 0 }],
        [{ "node": "Response Rate Limited", "type": "main", "index": 0 }]
      ]
    },
    "Insert Participation": {
      "main": [[{ "node": "Response Success", "type": "main", "index": 0 }]]
    }
  }
}
